<ng-container *ngIf="post else loading">
    <div class="card bg-dark text-white my-3">
        <div class="card-body">
            <div class="d-flex flex-row mb-3 ">
                <span class="font-weight-bold mr-2">r/{{post.subReddit}}</span>
                <span class="text-muted ml-2">posted by u/{{post.authorName}}</span>
            </div>
            <h5 class="card-title">{{post.title}}</h5>

        </div>
        <img src="{{post.previewImage}}" class="card-img-top" alt="...">

        <div class="card-body" *ngIf="post.comments.length > 0">
            <div *ngFor="let comment of post.comments">
                <span [innerHTML]="comment.body"></span>
            </div>
        </div>
    </div>


</ng-container>

<ng-template #loading>
    <div class="text-white position-relative" style="height: 300px;">
        <i class="fas large-font fa-spinner fa-spin position-absolute" style="top:50%; left: 50%;"></i>
    </div>
</ng-template>