/* You can add global styles to this file, and also import other style files */

body {
    background: #000000;
    color: #a1a1a1
}

.fas {
    font-size: 2em;
}

.large-font {
    font-size: 4em;
}

.card img {
    max-height: 512px;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: auto
}